pkgbase = libx52
	pkgdesc = Application to control the MFD and LEDs of a Saitek X52/X52Pro HOTAS
	pkgver = 0.3.2
	pkgrel = 1
	url = https://github.com/nirenjan/libx52
	install = libx52.install
	arch = x86_64
	license = GPL2
	makedepends = autoconf
	makedepends = automake
	makedepends = libtool
	makedepends = pkg-config
	makedepends = python
	makedepends = gettext
	makedepends = libusb
	makedepends = hidapi
	makedepends = libevdev
	makedepends = doxygen
	makedepends = cmocka
	makedepends = git
	depends = libusb
	depends = hidapi
	depends = libevdev
	backup = etc/x52d/x52d.conf
	source = https://github.com/nirenjan/libx52/releases/download/v0.3.2/libx52_0.3.2.orig.tar.gz
	sha256sums = c4d4cdce7f2fce85871f3b1a4bf0f8122eb2969e62ee0d381984c9d26e0a8e25

pkgname = libx52
