generated-by = makedeb-makepkg

pkgbase = libx52
	pkgdesc = Application to control the MFD and LEDs of a Saitek X52/X52Pro HOTAS
	pkgver = 0.2.3_2_g794b09e
	pkgrel = 1
	url = https://github.com/nirenjan/x52pro-linux
	arch = x86_64
	license = GPL2
	makedepends = git
	depends = libusb-1.0-0
	depends = libhidapi-hidraw0
	depends = libevdev2
	source = git+https://github.com/nirenjan/x52pro-linux.git
	sha256sums = SKIP

pkgname = libx52
